@import "../../colors";

.thumbnail {

    &:hover {
        .remove {
            opacity: 1;
            cursor: pointer;
        }
    }

    .remove {
        position: absolute;
        top: 0;
        right: 0;
        opacity: 0;
        border: 2px solid $ui-border;
        border-radius: 300px;
        box-shadow: 0 1px 2px $box-shadow-gray;
        background-color: $ui-light-gray;
        padding: 2px 6px;
        line-height: 16px;
        font-size: 16px;
    }

    .thumbnail-image {
        display: block;

        img {
            margin-bottom: 2px;
            border: 1px solid $ui-border;
        }
    }

    $extras: ".thumbnail-creator, .thumbnail-loves, .thumbnail-favorites,.thumbnail-remixes,.thumbnail-views";

    .thumbnail-title,
    #{$extras} {
        overflow: hidden;
        text-overflow: ellipsis;
        line-height: normal;
        white-space: nowrap;
        word-wrap: break-word;
    }

    .thumbnail-title {
        margin-bottom: 1px;
        font-size: .923em;
        font-weight: 800;

        a {
            display: block;
        }
    }

    #{$extras} {
        color: $type-gray;
        font-size: .8462em;

        a {
            display: inline;
        }
    }

    .thumbnail-loves,
    .thumbnail-favorites,
    .thumbnail-remixes,
    .thumbnail-views {

        display: inline;
        margin-right: 10px;

        &:before {
            display: inline-block;
            margin-right: .1rem;
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            width: .93rem;
            height: .93rem;
            vertical-align: text-top;
            content: "";
        }
    }

    .thumbnail-loves {
        &:before {
            background-image: url("/svgs/love/love_type-gray.svg");
        }
    }

    .thumbnail-favorites {
        &:before {
            background-image: url("/svgs/favorite/favorite_type-gray.svg");
        }
    }

    .thumbnail-remixes {
        &:before {
            background-image: url("/svgs/remix/remix_type-gray.svg");
        }
    }

    .thumbnail-views {
        &:before {
            background-image: url("/svgs/view/view_type-gray.svg");
        }
    }

    &.project {
        $project-width: 144px;
        $project-height: 108px;
        width: $project-width;

        img {
            width: $project-width;
            height: $project-height;
        }
    }

    &.gallery {
        $gallery-width: 170px;
        $gallery-height: 100px;
        width: $gallery-width;

        img {
            width: $gallery-width;
            height: $gallery-height;
        }
    }

    &.curator {
        $user-width: 180px;
        $user-height: 60px;
        margin: 15px 10px 0 0;
        border: 1px solid $ui-gray;
        background-color: $ui-light-gray;
        padding: 10px 15px;
        width: $user-width;

        img {
            width: $user-height;
            height: $user-height;
        }

        .thumbnail-image {
            width: $user-height;
        }

        .remove {
            top: -6px;
            right: -8px;
        }
    }
}
