@import "../../frameless";

.grid {
    display: inline-block;
    padding: 12px;
    justify-content: space-around;
    align-items: center;

    &.column {
        flex-direction: column;
        justify-content: center;
    }

    @media only screen and (max-width: $tablet - 1) {
        flex-direction: column;
    }
}
