@import "../../colors";

.guidelines {
    .guidelines-footer {
        margin-top: 1.5rem;
        text-align: center;

        img {
            width: 100%;
        }
    }

    dl {
        dt {
            margin-top: 1.5rem;
        }
    }
}
