@import "../../colors";
@import "../../frameless";

$base-bg: $ui-white;
$splash-red: #ef4836;

#view {
    padding: 0;

    .success {
        background-color: $splash-green;
    }

    .error {
        background-color: $splash-red;
    }

    .outer {
        margin-right: auto;
        margin-left: auto;
        width: 100%;
    }

    .box {
        background-color: $ui-gray;
        width: 100%;

        .box-content {
            padding: 0;
        }

        h1 {
            margin: 5px;
            padding-left: 20px;
        }
    }

    .description {
        clear: both;
        background-color: $ui-blue;
        width: 100%;
        height: $cols5;

        .inner {
            width: $cols12;

            h1 {
                padding: .5em 0;
                color: $type-white;
            }

            .info {
                .left {
                    display: inline;
                    float: left;
                }

                button {
                    background-color: $ui-white;
                    width: 13.75rem;
                    color: $ui-blue;
                }

                .thumbnail.gallery {
                    width: auto;

                    .thumbnail-image {
                        display: inline;

                        img {
                            border: 2px solid $ui-white;
                            border-radius: 10px;
                            width: $cols3;
                        }
                    }
                }

                .right {
                    display: inline;
                    float: right;
                }

                textarea {
                    display: block;
                    border: 0;
                    border-radius: 10px;
                    box-shadow: .5px 0 1px $box-shadow-gray;
                    width: $cols8;
                    height: $cols3;
                    line-height: 1.5385em;
                    color: $type-gray;
                    resize: none;

                    &:focus {
                        outline: none;
                    }
                }

                #report {
                    display: block;
                    float: right;
                    border-bottom: 1px solid $ui-white;
                    color: $type-white;
                    font-size: 12px;
                    font-weight: 200;
                }
            }
        }
    }

    .tab-background {
        box-shadow: 1px 0 1px $box-shadow-gray;
        background-color: $ui-white;
        width: 100%;
    }

    .tabs {
        background-color: $ui-white;
        padding: 0;
        width: 58.75rem;

        li {
            margin: 0;
            border: 0;
            border-radius: 0;
            width: $cols2;
            text-align: center;

            &.active {
                &[name="projects"] {
                    border-bottom: 3px solid $ui-aqua;
                }

                &[name="comments"] {
                    border-bottom: 3px solid $ui-purple;
                }

                &[name="curators"] {
                    border-bottom: 3px solid $ui-blue;
                }

                &[name="activity"] {
                    border-bottom: 3px solid $ui-orange;
                }
            }

            &:active {
                box-shadow: none;
                padding: .75em 1.5em;
            }
        }
    }

    #projectBox {
        margin: auto;
        border-bottom-right-radius: 8px;
        border-color: $active-gray;
        padding-top: $gutter;
        padding-bottom: 30px;
        width: $cols12;

        .grid {
            padding: 12px 0 0 0;

            .projects {
                justify-content: space-between;
            }
        }
    }

    .thumbnail {
        position: relative;
        white-space: nowrap;

        &.gallery {
            margin: auto;

            img {
                height: 130px;
            }
        }

        &.project {
            margin-bottom: $gutter;
            border-radius: 10px;
            box-shadow: 0 1px 2px $box-shadow-gray;
            background-color: $ui-white;
            width: $cols3;

            .thumbnail-image {
                border-radius: 10px 10px 0 0;

                img {
                    border: 0;
                    border-radius: inherit;
                    width: $cols3;
                    height: $cols9 / 4;
                }
            }

            .thumbnail-title {
                padding: 5px 5px 0 5px;
            }

            .thumbnail-creator {
                padding: 5px;
            }
        }
    }

    .load button {
        outline: None;
        border: None;
        background-color: $ui-white;
        padding: 0;

        li {
            color: $header-gray;
        }
    }
}
