@import "../../colors";
@import "../../frameless";

#view {
    padding: 0;
}

.information-page {
    $ui-secondary: darken($ui-blue, 10%);

    .title-banner {
        &.masthead {
            background-color: $ui-secondary;
            padding-bottom: .5rem;

            h1 {
                margin: 0 0 1rem 0;
                text-align: left;
                color: $ui-white;
            }

            p {
                margin: 0;
                width: $cols6;
                text-align: left;
                color: $ui-white;

                a {
                    border-bottom: 1px solid $ui-white;
                    color: $ui-white;
                }
            }
        }

        &.faq-banner {
            margin-bottom: 0;
            background-color: $ui-gray;
        }
    }

    .info-outer {
        margin: 0 auto;

        nav {
            float: right;
            border-left: 1px solid $ui-border;
            width: 30%;

            ol {
                list-style: none;
            }
        }

        .info-inner {
            float: left;
            width: 60%;

            p {
                margin-bottom: 1.25rem;
                margin-left: 0;
                max-width: $cols8;
                text-align: left;
            }

            dl {
                dt {
                    margin-bottom: .25rem;
                    font-size: 1.1rem;
                }

                dd {
                    margin-bottom: 1.25rem;
                    margin-left: 0;
                    max-width: $cols8;
                    text-align: left;
                }
            }

            ul {
                max-width: $cols8;
            }

            section {
                margin-bottom: 3rem;

                ul {
                    max-width: $cols8;
                }

                .nav-spacer {
                    display: block;
                    visibility: hidden;
                    margin-top: -50px; // height of  nav bar
                    height: 50px;
                }

            }
        }
    }
}

@media only screen and (max-width: $tablet) {
    .information-page {
        p {
            a {
                white-space: normal;
            }
        }

        .title-banner {
            &.masthead {
                h1 {
                    text-align: center;
                }
            }
        }

        .info-outer {
            nav {
                float: none;
                margin: 0 auto;
                border: 0;
                width: initial;

                ol {
                    padding-left: 0;
                }
            }

            .info-inner {
                float: none;

                p {
                    text-align: center;
                }

                dl {
                    dd {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: $mobile) {
    .information-page {
        .info-outer {
            nav {
                width: $cols4;
            }
        }

        .info-outer {
            .info-inner {
                width: $cols4;
            }
        }
    }
}

@media only screen and (min-width: $mobile) and (max-width: $tablet) {
    .information-page {
        .info-outer {
            nav {
                width: $cols6;
            }
        }

        .info-outer {
            .info-inner {
                width: $cols6;
            }
        }
    }
}

@media only screen and (min-width: $desktop) {
    .information-page {
        .info-outer {
            .info-inner {
                dl {
                    dt {
                        text-align: left;
                    }
                }
            }
        }
    }
}
